body {
  padding-top: 15px;
}
.light {
  padding: 20px;
  color: #fff;
  font-size: 30px;
  height: 200px;
  transition: .5s all;
  border-radius: 10px;
}
.light .fa {
  font-size: 60px;
}
.unoccupied {
  background-color: green;
}
.occupied {
  background-color: #B60000;
}